<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <head th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  </head>
  <head th:fragment="js">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </head>
    <title>Title</title>
</head>
<body>

</body>
</html>