<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Form Add User</title>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar('user')}"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Form Add User</h2>
        <br>
        <form th:action="@{/user/add}" th:object="${userDTO}" method="POST">
          Username: <br>
          <input class="form-control" type="text" th:field="*{username}" />
          <br><br>

          Alamat: <br>
          <input class="form-control" type="text" th:field="*{name}" />
          <br><br>

          Password <br>
          <input required class="form-control" type="text" th:field="*{password}" />
          <br><br>

          <select name="role" class="form-control">
            <option selected value="">--Pilih Role--</option>
            <option th:each="role: ${listRole}" th:value="${role.id}" th:text="${role.role}">
            </option>
          </select>

          <button class="btn btn-primary" type="submit">Submit</button>
          <a class="btn btn-primary" href="/">Home</a>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>